/* @import url('/src/assets/base.css'); */
@import url('https://fonts.itedev.com/unifont/index.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Unifont';
}

a {
  color: #7c471d;
  text-decoration: none;
  border: .2rem solid #ffffff00;
  padding: .2rem .5rem;
}

a:hover {
  border: .2rem solid #efcb90;
}

::selection {
  color: #7c471d;
  background-color: rgba(0, 212, 0, 0.349);
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: #efcb90;
}

::-webkit-scrollbar-thumb {
  background: #7c471d;
}
